!{{{ Colors
! special
*foreground: #bdcfe3
*background: #141c21

! black
*color0: #263640
*color8: #4a697d

! red
*color1: #d12f2c
*color9: #fa3935

! green
*color2:  #819400
*color10: #a4bd00

! yellow
*color3:  #b08500
*color11: #d9a400

! blue
*color4:  #2587cc
*color12: #2ca2f5

! magenta
*color5:  #696ebf
*color13: #8086e8

! cyan
*color6:  #289c93
*color14: #33c5ba

! white
*color7:  #bfbaac
*color15: #fdf6e3
!}}}

!{{{ Xscreensaver
xscreensaver.splash: false

!fonts
xscreensaver.Dialog.headingFont:    -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso8859-1
xscreensaver.Dialog.bodyFont:       -misc-fixed-medium-r-normal--20-200-75-75-c-100-iso8859-1
xscreensaver.Dialog.labelFont:      -misc-fixed-medium-r-normal--20-200-75-75-c-100-iso8859-1
xscreensaver.Dialog.unameFont:      -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso8859-1
xscreensaver.Dialog.buttonFont:     -misc-fixed-medium-r-normal--20-200-75-75-c-100-iso8859-1
xscreensaver.Dialog.dateFont:       -misc-fixed-bold-r-normal--14-130-75-75-c-70-iso8859-1
xscreensaver.passwd.passwdFont:     -misc-fixed-medium-r-normal--20-200-75-75-c-100-iso8859-1

!header, hostname, body text
xscreensaver.Dialog.foreground: #bdcfe3
xscreensaver.Dialog.background: #263640
xscreensaver.Dialog.Button.foreground: #bdcfe3
xscreensaver.Dialog.Button.background: #141c21

!username, password text
xscreensaver.Dialog.text.foreground: #bdcfe3
xscreensaver.Dialog.text.background: #141c21

!dialog box borders
xscreensaver.Dialog.topShadowColor: #141c21
xscreensaver.Dialog.bottomShadowColor: #141c21

!window borders
xscreensaver.Dialog.internalBorderWidth: 24
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.shadowThickness: 2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #141c21
xscreensaver.passwd.thermometer.background:  #141c21
xscreensaver.passwd.thermometer.width: 0

!header
xscreensaver.passwd.heading.label: XScreenSaver
xscreensaver.passwd.body.label: Session locked
xscreensaver.passwd.uname: False

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat: %Y-%m-%d  %R
!}}}

!{{{ X11 Cursor
Xcursor.theme: Breeze-Blue
Xcursor.size: 16
!}}}
