!{{{ Colors
! special
*foreground: #bdcfe3
*background: #141c21

! black
*color0: #263640
*color8: #4a697d

! red
*color1: #d12f2c
*color9: #fa3935

! green
*color2:  #819400
*color10: #a4bd00

! yellow
*color3:  #b08500
*color11: #d9a400

! blue
*color4:  #2587cc
*color12: #2ca2f5

! magenta
*color5:  #696ebf
*color13: #8086e8

! cyan
*color6:  #289c93
*color14: #33c5ba

! white
*color7:  #bfbaac
*color15: #fdf6e3
!}}}

!{{{ X11 Cursor
Xcursor.theme: Breeze-Obsidian
Xcursor.size: 16
!}}}
