! Font settings
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.antialias: true
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


! Colors
! OneDark (Darker) Theme
! special
*foreground: #b2bbcc
*background: #1f2329

! black
*color0: #0e1013
*color8: #535965

! red
*color1: #e55561
*color9: #e55561

! green
*color2:  #8ebd6b
*color10: #8ebd6b

! yellow
*color3:  #e2b86b
*color11: #e2b86b

! blue
*color4:  #4fa6ed
*color12: #4fa6ed

! magenta
*color5:  #bf68d9
*color13: #bf68d9

! cyan
*color6:  #48b0bd
*color14: #48b0bd

! white
*color7:  #b2bbcc
*color15: #c3cde0


! URxvt
URxvt.termName: rxvt-unicode-256color
URxvt.loginShell: true
URxvt.scrollstyle: plain
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.font: xft:Cozette:size=10
!URxvt.letterSpace: -1
URxvt.perl-ext-common: default,-confirm-paste,matcher,selection-to-clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.disablePasteBrackets: true
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.altSendsEscape: true
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C


! Xcursor theme
Xcursor.theme: Breeze-Obsidian
Xcursor.size: 16

