configuration {
    modi: "combi,window,drun,run";
    combi-modi: "window,drun,run";
    font: "JetBrainsMono Nerd Font Mono 9";
    terminal: "alacritty";
}

@theme "~/.config/rofi/themes/onedark.rasi"
